*{
    margin: 0;
    padding: 0;

}
.space{
    margin-right: 5%;
    margin-left: 5%;
}

/* banner container start from here  */


.banner-container{
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: merriweather;
    margin-top: 3%;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 72px;
    font-weight: 900;
}

.banner-sub-title{
    font-size: 35px;
}

/* 65% off container styles start from here  */


.off-container{
    font-family: Inter;
    text-align: center;
    margin-bottom: 50px;
}

.off-container-title{
    font-size: 88px;
    font-weight: 700;
    color: #f00;
    margin-bottom: 20px;
}


.off-container > p{
    color: #f00;
    margin-bottom: 10px;
}

.off-container-sub-title{
    font-size: 48px;
    font-weight: 700;
}


.off-container-img{
    width: 800px;
    height: auto;
    margin-top: 40px;
}

/* midnight party container styles start form here  */


