*{
    margin: 0;
    padding: 0;

}
.space{
    margin-right: 5%;
    margin-left: 5%;
}

/* banner container start from here  */


.banner-container{
    background-image: url('/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: merriweather;
    margin-top: 3%;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 72px;
    font-weight: 900;
}

.banner-sub-title{
    font-size: 35px;
}

/* 65% off container styles start from here  */


.off-container{
    font-family: Inter;
    text-align: center;
    margin-bottom: 50px;
}

.off-container-title{
    font-size: 88px;
    font-weight: 700;
    color: #f00;
    margin-bottom: 20px;
}


.off-container > p{
    color: #f00;
    margin-bottom: 10px;
}

.off-container-sub-title{
    font-size: 48px;
    font-weight: 700;
}


.off-container-img{
    width: 800px;
    height: auto;
    margin-top: 40px;
}

/* midnight party container styles start form here  */


.midnight-party-container{
    margin-top: 50px;
    margin-bottom: 100px;
    background-image: url("/resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 70px;
    border-radius: 10px;
    
}



.midnight-party-title{
    font-size: 64px;
    font-family: Merriweather;
    font-weight: 900;
    color: #ffffff;
}

.party-description{
    color: rgba(255, 255, 255, 0.80);
    margin-top: 24px;
    margin-bottom: 32px;
}

.midnight-party-img > img{
    width: 180px;
}

.party-btn{
    border: none;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.party-btn a{
    background-color: rgb(49, 48, 48);
    text-decoration: none;
    color: #fff;
    text-align: center;
}

/* park hotel container styles from here  */

.park-hotel-container{
    margin-bottom: 50px;
}

.park-hotel-info{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
    padding: 80px 0;
    line-height: 56px;
    font-size: 32px;
    font-weight: 600;
    font-family: Inter;
    border: none;
    border-radius: 7px;
}

.park-hotel-color{
    color: #f00;
}

.park-hotel-btn{
    background-color: #f00;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.park-hotel-btn a{
    text-decoration: none;
    color: white;
}

/* coming soon container styles start from here  */

.coming-soon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 80px;
}

.coming-soon-img img{
    width: 200px;
    height: auto;
    border: 8px solid #f00;
    border-radius: 50%;
    padding: 10px;
}

.coming-soon-year img{
    width: 70px;
    height: auto;
    margin-top: 43px;
}

.coming-soon-sub-title{
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    margin-bottom: 16px;
}

.coming-soon-title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
    margin-bottom: 22px;
}

.coming-soon-year h1{
    color: #f00;
    font-size: 48px;
    font-weight: 700;
    font-family: Inter;
}

/*TODO: holidays sale container styles start from here  */

/* .holiday-sale-img{
    display: flex;
    background-image: url('/resources/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-size: 100vw 100px;
    background-position: bottom;
    justify-content: space-between;
    gap: 30px;
}

.girl-img img{
    width: 320px;
    height: auto;
}

.holiday-sale-img .box-img img{
    width: 500px;
    height: auto;
}

.box-img{
    padding: 0;
} */
